$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$transition-duration: 250ms;
$base-font: 'Roboto', 'Arial', 'Helvetica', sans-serif;
$section-padding: 94px 0px;
$font-weight-bold: 700;
$font-weight-normal: 400;
$min-width-mobile: 480px;
$min-width-tablet: 768px;
$min-width-desktop: 1200px;
$max-width-mobile: 767px;
$max-width-tablet: 1199px;
